.container {
	padding: 1em;
	display: flex;
	justify-content: center;
}

.legendItem {
	justify-content: center;
	display: flex;
	flex-direction: column;
	padding: 1em;
}

.username {
	font-size: 100%;
}

.participantColor {
	width: 100%;
	border-top-width: 0.5em;
}

.userSelected {
	border-color: #30cfd0;
}

.selected0 {
	border-color: #009efd;
}

.selected1 {
	border-color: #96fbc4;
}

.selected2 {
	border-color: chocolate;
}

.selected3 {
	border-color: darkgreen;
}

.selected4 {
	border-color: blanchedalmond;
}

.selected5 {
	border-color: darkolivegreen;
}