.unit {
	height: 1em;
	width: 4em;
	border-width: 1px;
	border-color: white;
}

.unselectable {
	background-color: #ddd;
}

.unselected {
	background: #a1c4fdc1;
}

.selected {
	background-color: #4facfe;
}